body {
	background: url(../images/bgtile.png);
	font-family: 'tahoma';
	font-size: 14px;
}

p#name {
	font-family: 'century gothic';
	font-size: 82px;
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: center;
}

a#name {
	color: black;
	text-decoration: none;
}

div#navigation {
	font-size: 20px;
	background: white;
	height: 60px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

div#menu_container {
	height: 60px;
	display: block;
	padding-top: 17px;
}

a.menu_link {
	text-decoration: none;
	vertical-align: middle;
}

div#container {
	background: white;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

div#textcontainer {
	padding: 48px;
}

p#header {
	margin-top: 0px;
	font-size: 26px;
}

div#pictures {
	
}

img.picture {
	width: 100px;
}

div#files {
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 200px;
}

div#files img {
	width: 64px;
	height: 64px;
}

div#resumes {
	font-size: 18px;
	text-align: center;
	padding-right: 28px;
}

div#doc {
	float:left;
	text-align: center;
	width: 75px;
}

div#mid {
	float: left;
	text-align:center;
	width: 25px;
}

div#pdf {
	float: left;
	text-align: center;
	width: 75px;
}

.shadow {
	-moz-box-shadow: 0px 3px 26px #000;
	-webkit-box-shadow: 0px 3px 26px #000;
	box-shadow: 0px 3px 26px #000;
}

.shadow_small {
	-moz-box-shadow: 0px 3px 13px #000;
	-webkit-box-shadow: 0px 3px 13px #000;
	box-shadow: 0px 3px 13px #000;
}